WhatsApp Consulta Pessoa.json
{
  "name": "WhatsApp Consulta Pessoa",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a7e70c7c-cb0c-4de7-b21f-ea20695ee148",
        "authentication": "basicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -544,
        0
      ],
      "id": "04931d6e-0ccd-4931-b1a1-9666a8a3ccf6",
      "name": "Webhook",
      "webhookId": "a7e70c7c-cb0c-4de7-b21f-ea20695ee148",
      "credentials": {
        "httpBasicAuth": {
          "id": "f1n9zWkCQkKaY2XL",
          "name": "Unnamed credential"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM vw_pessoas_configs_whats WHERE celular = '{{  $json.celular }}'",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        32,
        -48
      ],
      "id": "16c9d140-77b4-476a-be76-62aa8a93d548",
      "name": "Execute a SQL query",
      "alwaysOutputData": true,
      "credentials": {
        "mySql": {
          "id": "QzM9NYQMHfeSej7L",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8f5bd79e-4c1b-4c4b-981a-3ac9aadbf317",
              "leftValue": "={{  $json.body.data.message.conversation }} }}",
              "rightValue": "oi",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -112,
        128
      ],
      "id": "9163bd65-8ab7-4ff6-b41b-bbf34f377b63",
      "name": "Filter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8c07c3a5-92f2-4b50-b82d-179a448726b4",
              "name": "celular",
              "value": "=12132312312",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -192
      ],
      "id": "7d8a5df9-ad36-46c2-b97b-1c2e753cef27",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e763c7cc-e850-4190-8bf8-418d2e00adc6",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        112
      ],
      "id": "ec0c8e46-27fb-49f8-b70c-21487d4f9908",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f56de726-e313-4730-b56b-e5dd974d6715",
              "name": "message",
              "value": "Infelizmente nao encontramos seus dados em nosso sistema.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        432,
        16
      ],
      "id": "a8503351-e220-4de8-8ce9-bbd7135e1ddd",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3c337b94-f1b7-494b-b5f8-8d3be8de3473",
              "name": "message",
              "value": "=👋 Olá, *{{ $json.nome }}*!\nQue bom te ver por aqui no *{{ $json.nome_condominio }}* 😊\n\n📌 *Como posso ajudar agora?*\n1️⃣ 📅 Disponibilidade de vagas\n2️⃣ 🧑‍🤝‍🧑 Cadastrar visitante\n3️⃣ 🚗 Solicitar uma vaga\n4️⃣ 🤝 Oferecer uma vaga\n\n_Responda com o número (1–4)._\n",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        -224
      ],
      "id": "795ff916-a3a6-4d8d-9465-df59bf7db2cd",
      "name": "Edit Fields2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        720,
        64
      ],
      "id": "97906b55-4644-4076-b7c5-61051a1c871f",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "18281270000183",
        "remoteJid": "5554991952748",
        "messageText": "={{  $json.message }} ",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [
        752,
        -160
      ],
      "id": "44926c4e-6c7a-446c-a0db-c0e1f3e8e0c6",
      "name": "Enviar texto",
      "credentials": {
        "evolutionApi": {
          "id": "pVr6DaM4lS7bbnuq",
          "name": "Evolution account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{  $json.body.data.message.conversation }} }}",
                    "rightValue": "1",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d1ee1928-cf27-47b8-a2b8-3ccc0be956b1"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "7645c0cc-0b22-413c-834f-ad7848525d42",
                    "leftValue": "={{  $json.body.data.message.conversation }} }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "791fc74b-7c1b-42cb-a72f-99687bdf0ebf",
                    "leftValue": "={{  $json.body.data.message.conversation }} }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5b2c36f7-dcf0-4aae-9d6e-733795eb2378",
                    "leftValue": "={{  $json.body.data.message.conversation }} }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        464,
        240
      ],
      "id": "aeb49278-4757-430f-8243-33b1e250f394",
      "name": "Switch"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          },
          {
            "node": "Enviar texto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [],
        [],
        [],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "e7a7e9c4-b8eb-4871-bcf6-49cb7696f95a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5ca014f7cfae3117a719177c7e611ad496413af049f7fd96b9d1eb2ad77a9db"
  },
  "id": "poeuLQiTB4iDewc9hC_WL",
  "tags": []
}